<p-sidebar [(visible)]="displaySideBar" position="right" [modal]="true" [baseZIndex]="10000" class="sideBar" (onHide)="onClose()">
    <p-panel header="Group Railcars" [formGroup]="formGroup">
        <div id="group" *ngIf="!continue">
            <div class="svc-header">Group & track these 7 railcars as a Unit?</div>
            <p-chips formControlName="trackNumber" field="trainId" (onAdd)="onAdd($event)" [addOnTab]="true" [addOnBlur]="true"></p-chips>
                <div class="svc-header">Name Group:</div>
                <div class="p-field">
                    <p-radioButton name="unit" label="Create a new Unit or"  formControlName="unit" [value]="true" ></p-radioButton>
                    <input type="text" [ngClass]="{'form-submitted': formSubmitted}" pInputText placeholder="Enter Unit Name" formControlName="unitName" />
                    <span class="highlight-error" *ngIf="formSubmitted">
                        Unit name is required.
                      </span>
                </div>
                
                <div class="p-field">
                    <p-radioButton name="unit" label="Add to an existing Train"  formControlName="unit" [value]="false"></p-radioButton>
                    
                </div>                
        </div>
    <!-- Destination window -->
        <div *ngIf="continue">
            <div class="svc-header">Select Destination:</div>
                <span>Set the destination for <b>{{unitName}}</b></span>
                <div class="">
                    <div class="search-box">
                        <p-autoComplete type="text" (onSelect)="onSelect($event)" pInputText placeholder="Destination" [suggestions]="filterResults" field="trainId" (completeMethod)="onSearch($event)"></p-autoComplete>
                        <span class="p-button-icon pi pi-search"></span>         
                    </div>
                    <div class="col-12">
                        <p-table  [value]="searchList">
                            <!-- <ng-template pTemplate="header">
                                <tr>
                                    <th>
                                        <div class="p-d-flex p-jc-between p-ai-center">List</div>
                                    </th>
                                </tr>
                            </ng-template> -->
                            <ng-template pTemplate="body" let-slist>
                                <tr class="p-selectable-row">
                                    <td>
                                        {{slist.name}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                
                <!-- <div class="card">
                    <ag-grid-angular
                        style="width: auto; height: 300px;"
                        class="ag-theme-alpine"
                        [rowData]="rowData"
                        [columnDefs]="columnDefs"
                    >
                    </ag-grid-angular>
                </div> -->
        </div>
        <div class="float-left">
            <button pButton pRipple type="button" icon="pi pi-angle-left" *ngIf="continue" (click)="onBack()" class="p-button-rounded p-button-text" label="Back"></button>
        </div>
        <div class="float-right">
            <!-- <p-button type="button" (click)="onClose()" label="Cancel" styleClass="p-button-secondary"></p-button> -->
            <p-button type="button" *ngIf="!continue" (click)="onContinue()" label="Continue" styleClass="p-button-secondary"></p-button>
            <p-button type="button" *ngIf="continue" label="Save" styleClass="p-button-secondary"></p-button>
        </div>
        
    </p-panel>

</p-sidebar>
