<div>
    <div class="svc-header">Select Date Range</div>
    <div [formGroup]="searchForm">
        <input type="datetime-local" formControlName="fromDate" step="2" /> 
      to
      <input type="datetime-local" formControlName="toDate"  step="2"/>
      <div *ngIf="noSearchData" class="redError">Please select date range</div>
      <div class="float-right mb-2">
        <button pButton (click)="clear()" class="p-button-secondary" label="Clear"></button>
        <button pButton (click)="apply()" class="p-button" label="Apply"></button>
      </div>
    </div>
  </div>
