<nav class="navbar navbar-expand-lg">
    <div class="row clearMargin">
        <div class="col-md-8 col-sm-7 col-xs-6">
            <div class="header-logo-container">
                <img src="../../../assets/images/scv-logo.svg" class="navbar-brand clickable">
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</nav>

<div class="card side-nav">
    <p-tabView>
        <p-tabPanel header="Layout">
            <p>Layout</p>    
        </p-tabPanel>
        <p-tabPanel header="Buttons">
            <h5>Buttons</h5>
                <!-- <div class="row">
                    <div class="col-2">
                        <button pButton type="button" label="Primary"></button>
                    </div>
                    <div class="col-10">
                        <pre>
                        <code><button pButton type="button" label="Primary">></button></code>
                    </pre> </div>
                     <button pButton type="button" label="Secondary" class="p-button-secondary"></button>
                    <p-button label="Disabled" [disabled]="true"></p-button>
                    
                </div> -->
                <div class="row col-12">
                    <div class="col">
                        <p-panel header="Primat Button">
                            <button pButton type="button" label="Primary"></button>
                        </p-panel>
                    </div>
                    <div class="col">
                        <p-panel header="Secondary Button">
                            <button pButton type="button" label="Secondary" class="p-button-secondary"></button>
                        </p-panel>
                    </div>
                    <div class="col">
                        <p-panel header="Disabled">
                            <p-button label="Disabled" [disabled]="true"></p-button>
                        </p-panel>
                    </div>
                    <div class="col">
                        <p-panel header="Menu Button">
                            <p-splitButton label="Save"></p-splitButton>
                        </p-panel>
                    </div>
                </div>
        </p-tabPanel>
        <p-tabPanel header="Form-UI">
            <p>Form UI</p>    
        </p-tabPanel>
        <p-tabPanel header="Sidebar">
            <div class="col-6">
                <p-button styleClass="p-button-secondary" class="float-right" (click)="displaySideBar = true" icon="pi pi-filter" label="Filters"></p-button>
            </div>
            <p><app-side-bar [displaySideBar]="displaySideBar" (closeBar)="onClose()"></app-side-bar></p>    
        </p-tabPanel>
        <p-tabPanel header="Data-table">
            <p>Grid</p>
            <div class="row">
                <app-customer-list></app-customer-list>
            </div>    
        </p-tabPanel>
    </p-tabView>
</div> 

<div class="container">
    <div class="row">
        <div class="col-6">
            <app-location-details></app-location-details>
        </div>
        <div class="col-6">
            <p-button styleClass="p-button-secondary" class="float-right" (click)="showAddCars = true" label="Add Cars"></p-button>
            <p-button styleClass="p-button-secondary" class="float-right" (click)="displaySideBar = true" icon="pi pi-filter" label="Filters"></p-button>
        </div>
    </div>
    
    <div class="row">
        <app-customer-list></app-customer-list>
    </div>
</div>

<app-side-bar [displaySideBar]="displaySideBar" (closeBar)="onClose()"></app-side-bar>

<app-add-cars [showAddCars]="showAddCars" (closeAddCars)="onCloseAddCars()"></app-add-cars>
