@import "./variabls.scss";
/* Buttons */
.p-button {
    padding: 0.125rem 1rem !important;
    margin-right: .5rem !important
  }

  .p-button-label {
    font-size: 1rem;
    font-weight: 600;
}

.p-button.p-button-secondary, .p-buttonset.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button {
    background: #112326;
    border: 1px solid #112326;
}

.p-button.p-button-secondary:enabled:hover, .p-buttonset.p-button-secondary > .p-button:enabled:hover, .p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: #008F96;
  border-color: #008F96;
}
.p-button.p-button-secondary:enabled:focus, .p-buttonset.p-button-secondary > .p-button:enabled:focus, .p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: 0 0;
}
.p-button.p-button-secondary:enabled:active, .p-buttonset.p-button-secondary > .p-button:enabled:active, .p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: #008F96;
  border-color: #008F96;
}

.p-button.p-button-text {
  color: #000;
}

.p-button.p-button-text:enabled:hover {
  color: #008F96;
  background: none;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover, .p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover, .p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  color: #008F96;
  border: 2px solid;
  margin: -1px;
}

/* Input text */
.p-inputtext {
    width: 100%;
    margin: 5px 0;
    padding: 0.225rem 0.5rem;
}

/* Radio Button */
.p-radiobutton {
    vertical-align: middle !important;
    margin-right: 7px;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #797979;
    background: #FFFFFF;
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: #008F96;
}

.p-radiobutton .p-radiobutton-box {
    border: 2px solid #ced4da;
    background: #ffffff;
  }
  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #112326;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
      border-color: #797979;
      background: #FFFFFF;
      color: #ffffff;
  }
  
  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 none;
    border-color: #797979;
  }
  .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: #008F96;
  }
  
  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    box-shadow: 0 none !important;
    border-color: #797979;
  }

.p-inputtext:enabled:hover {
    border-color: #008F96;
}
.p-inputtext:enabled:focus,
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
.p-chips .p-chips-multiple-container:not(.p-disabled):hover,
.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus  {
    box-shadow: 0 0 0 0.015rem #008F96;
    border-color: #008F96;
}

/* Chips */@at-root.p-chips.p-component {
    margin-bottom: 15px
  }
  .p-chips .p-chips-multiple-container .p-chips-token {
      margin-bottom: 5px;
      height: 30px
  }

  label {
    margin-bottom: 0;
    vertical-align: top;
}

.p-field {
    margin-bottom: 15px;
}

.search-box .p-autocomplete {
  width: 100%;
}

.search-box .p-autocomplete .p-inputtext {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none
}

.search-box .p-autocomplete .p-inputtext:enabled:focus  {
  box-shadow: 0 0;
}

/** highlight field for validation */


.ng-invalid:not(form).form-submitted {
  border: solid 1px rgb(255, 0, 0);
}

.highlight-error {
  color: #FF0000;
}


/* Dropdown */

.p-fluid .p-dropdown {
  height: 30px;
  align-items: center;
}

.p-dropdown:not(.p-disabled):hover {
  border-color: teal;
}

.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: 0 0;
  border-color: teal;
}

:focus {
  outline: 0 none
}

.p-field > label {
  margin-bottom: 0.125rem;
}

.p-field > .p-inputtext {
  margin: 0
}