body, .p-component {
    font-family: Open Sans;
    font-size: 0.875rem;
    color: #000000
}

.p-panel .p-panel-header .p-panel-title {
    font-weight: bold;
    font-size: 1rem;
}

.svc-header {
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: 5px;
}