@import "./variabls.scss";

.p-dialog .p-dialog-content {
    background: $panel-gray;
    color: #212529;
}

.p-dialog .p-dialog-header {
    padding: .410rem;
    background: $panel-gray;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1.8em;
    font-weight: 100;
    margin-left: 10px;
}

.p-splitbutton-defaultbutton.p-button.p-component {
    margin-right: 0 !important
}

.p-splitbutton-menubutton.p-button.p-component.p-button-icon-only {
    padding: 0 5px !important;
}

.p-dialog .p-dialog-content {
    padding: 0.9375rem;
}


.overlay .p-card {
    background: #E8E8E8;
    box-shadow: 0 0;
}

.overlay .p-card .p-card-body,
.overlay .p-card .p-card-content {
    padding: 0
}