@import "./variabls.scss";

.p-datatable {
    margin-bottom: .975rem;
    border: 1px solid #ced4da;
}

.p-datatable .p-datatable-thead > tr > th {
    padding: 0.295rem;
    background: #7b8585;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    border-right: 1px solid;
    padding-left: 15px;
}
