$white: white;
$gray: grey;
$lightgray: lightgray;
$black: black;
$whitesmoke: whitesmoke;
$red: red;
$green: green;
$blue: blue;


$button-white: #ffffff;
$filter-button-white: #bcc1c2;

$panel-gray: #e8e8e8;
$btn-gray: #dadada;
$icon-gray: #3f3f3f;
$arrow-gray: #2d353c;
$spinner-gray: rgb(122, 122, 122);
$cell-gray: #aba9a9;
$lightish-gray: #ccc;
$grid-gray: #fbfbfb;
$grid-darkgray: #323232;
$grid-midgray: #c8c8c8;
$dark-gray: #343434;
$map-darkgray: #666666;
$map-lightgray: #999999;
$disabled-gray: #9E9D9C;
$selected-item-gray: #838383;
$admin-gray: #626263;
$admin-lightgray: #d6d6d6;
$menu-gray: #696e73;
$selected-gray: #122627;
$disabled-filter-gray: #7b8585;

$selected-blue: #008F96;
$chart-selected-blue: #003A3D;
$default-blue: #38BEC4;
$breadcrumb-blue: #c0f2f2;
$button-blue: #112326;
$menu-blue: #38bec5;

$status-green: #46BB7E;